.cart_sec {
    // background-color: red;
    gap: 50px;
    width: 88%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Card-info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }

    h3 {
        // background-color: red;
        line-height: 42px;
        width: 65%;
    }

    p {
        width: 80%;
        // background-color: red;
    }

    p,
    li {
        color: #4D4B45;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 155.556% */
    }

    li {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    ul img {
        width: 18.5px;
    }

    .right-img {
        position: absolute;
        top: 80%;
        left: 36%;
    }
}

@include sm-laptop {
    .cart_sec {
        flex-wrap: wrap;

        .order-change {
            // background-color: red;
            order: 1;
        }

        .demo-img {
            width: 100%;
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@include tablet {
    .cart_sec {
        // background-color: red;
        flex-wrap: wrap;

        p {
            width: 100%;
        }

        h3 {
            width: 100%;
        }
    }
}

@include xl-mobile {
    .cart_sec {

        // background-color: red !important;
        .right-img {
            top: 80%;
            left: 59%;
        }
    }
}

@include mobile {
    .cart_sec {
        .demo-img img {
            width: 100%;
        }
        .right-img {
           display: none;
        }
    }
}

// clients section
.clients-sec {
    width: 88%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        text-align: center;
    }

    .clients-featured {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .clients-featured img {
        border-radius: 15px;
        box-shadow: 0px 15px 30px 0px rgba(64, 52, 2, 0.08);

    }
}

// @include xl-mobile {
//     .clients-sec {
//         .clients-featured img {
//             // width: 60%;
//         }
//     }
// }